/*all the stuff applicable to all similar items on here*/
body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

li {
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

button {
    background-color: #9f00e3;
    color: #EEEEEE;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    flex-grow: 0;
}
/* ^^^ Try not to change this stuff, keep constant ^^^ */


.header {
    display: flex;
    height: 100px;
    background-color: #540000;
    font-size: 24px;
    color: #ffc800;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
}

/* ^^^^^^ */

/*.container {
    display: flex;
}    unsure if needed right now*/

.firstcontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c50000;
    flex: 1;
    flex-wrap: wrap ;
}

.firstcontent img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin: 20px;
    
}

.textside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin: 40px;
    flex: 1;
}

.titletext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700px;

}

.subtext {
    color: #E5E7Eb;
    font-size: 18px;

}



/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.secondcontainer {
    display: flex;
    flex-direction: column;
    background-color: #ff5d1d;
    text-align: center;
}

.secondcontent {
    display: flex;
    justify-content: space-around;
    height: 300px;
    flex-wrap: wrap;
    flex: 1;
    padding: 10px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.secondcontent img {
    border-radius: 10px;
    border: 10px;
    border-color: #9f00e3;
    border-style: solid;
    margin: 10px;
}

.captionbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.thirdcontainer {
    display: flex;
    background-color: #ffa217;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    
    
}

.boxforquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    flex: 1;
    
}

.quote {
    display: flex;
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    flex-wrap: wrap;
    
    

}

.authorquote {
    color: #1F2937;
    font-style: italic;
    font-size: 24px;
    font-weight: 600;


}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.fourthcontainer {
    display: flex;
    background-color: #ffde0a;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.fourthcontent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.fourthinnerblue {
    display: flex;
    flex-direction: row;
    background-color: #ff5d1d;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.innerbluepieces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 15px;
    
    
}

.blueblocktext {
    
    color: #EEEEEE;
    
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.footer {
    display: flex;
    height: 60px;
    background-color: #fff67c;
    color: #300000;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

}