/*all the stuff applicable to all similar items on here*/
img {
    width: 50px;
    height: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #EEEEEE;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}
/* ^^^ Try not to change this stuff, keep constant ^^^ */


.header {
    display: flex;
    height: 70px;
    background-color: #006aff;
    font-size: 24px;
    color: #F9FAF8;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 10px;
}

/* ^^^^^^ */

/*.container {
    display: flex;
}    unsure if needed right now*/

.firstcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: #1F2937;
}

.textside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    height: 200px;
    margin: 25px;
    gap: 30px;
}

.titletext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 700px;

}

.subtext {
    color: #E5E7Eb;
    font-size: 18px;

}

.firstcontentimage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    padding: 50px;
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.secondcontainer {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    text-align: center;
}

.secondcontent {
    display: flex;
    justify-content: space-around;
    height: 300px;
    align-items: center;
}

.titletext2 {
    margin: 10px;
}

.captionbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.thirdcontent {
    display: flex;
    height: 300px;
    background-color: #E5E7EB;
    
}

.boxforquote {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 50px;
    padding: 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.authorquote {
    display: flex;
    color: #1F2937;
    font-weight: 200px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.fourthcontainer {
    display: flex;
    background-color: #EEEEEE;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.fourthcontent {
    display: flex;
    height: 100px;
    width: 400px;
    flex-direction: column;
    
}

.blueblocktext {
    background-color: #3882F6;
    padding: 20px;
    height: 100px;
}

/* ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ ^^^^^^ */

.footer {
    display: flex;
    height: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

}